openapi: 3.0.3
info:
  title: Xosum.am API
  description: >
    The Xosum.am API enables business customers to upload audio for transcription and receive results via webhook.
    All transcription results are also accessible via the web interface at [https://app.xosum.am](https://app.xosum.am).

    API access is exclusive to Business plan users. Authentication is handled via Bearer API keys.
  version: 1.0.0
servers:
  - url: https://app.xosum.am
    description: Production API server

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key

  schemas:
    CreateTranscriptionRequest:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum: [single_voice, phone_call]
          description: >
            The kind of audio being transcribed. This value also controls diarization
            behavior in the resulting transcript:
            `single_voice` returns a plain transcript with no speaker labels —
            use this for monologues, dictations, voicemails, single-speaker recordings.
            `phone_call` returns a diarized transcript with inline speaker labels
            (`Խոսնակ 1:` / `Խոսնակ 2:`) and is pinned to exactly two speakers —
            use this for two-party conversations such as support or sales calls.
        metadata:
          type: object
          description: Optional metadata to attach to the transcription (e.g., user IDs, external info).
          example:
            phonenumber: "+37400000000"
            agent: "King Ruzi"
        checklistId:
          type: string
          description: >
            Optional. The ID of a QA Checklist to run an automated analysis on the transcript.
            You can find the Checklist ID in the "QA Ստուգացուցակներ" (QA Checklists) section of the Xosum.am web app.
            The results of the analysis will be available in the "History" page of the web app after the transcription is complete.
          example: "a1B2c3D4e5F6g7H8i9J0"

    CreateTranscriptionResponse:
      type: object
      properties:
        docId:
          type: string
          description: Unique ID for the created transcription job.
        uploadUrl:
          type: string
          format: uri
          description: A pre-signed URL for uploading the `.mp3` audio file using a PUT request. This URL is valid for 1 hour.

    GetTranscriptionResponse:
      type: object
      description: >
        Polling response for a transcription job. The base fields are always returned;
        the additional fields below are populated only once `status` reaches a terminal
        value (`transcribed` or `failed`).
      required:
        - docId
        - status
      properties:
        docId:
          type: string
          description: The same ID returned by `POST /api/createTranscription`.
        status:
          type: string
          enum: [uploading, processing, converting, transcribed, failed]
          description: >
            Current job state. Terminal states are `transcribed` and `failed`; clients
            should stop polling once one is reached.
        createdAt:
          type: string
          format: date-time
          nullable: true
          description: ISO-8601 timestamp of when the job was created.
        type:
          type: string
          enum: [single_voice, phone_call]
          nullable: true
          description: Echoes the `type` passed when the job was created.
        duration:
          type: number
          nullable: true
          description: Audio duration in seconds. Populated after the recording is processed.
        metadata:
          type: object
          description: The same metadata object passed to `POST /api/createTranscription`.
        transcription:
          type: string
          nullable: true
          description: >
            Present when `status` is `transcribed`. For `type: phone_call`, the text is
            diarized with inline `Խոսնակ 1:` / `Խոսնակ 2:` speaker labels. For
            `type: single_voice`, the text is plain with no labels.
        title:
          type: string
          nullable: true
          description: AI-generated short title. Present when `status` is `transcribed`.
        resolution:
          type: string
          nullable: true
          description: AI-generated one-paragraph summary. Present when `status` is `transcribed`.
        languageCode:
          type: string
          nullable: true
          description: BCP-47 language code of the detected language, e.g. `hy-AM`. Present when `status` is `transcribed`.
        error:
          type: string
          nullable: true
          description: Human-readable error message. Present when `status` is `failed`.

    RateLimitError:
      type: object
      properties:
        error:
          type: string
          example: Rate limit exceeded. Max 60 requests per minute.

    WebhookTranscriptionPayload:
      type: object
      properties:
        event_type:
          type: string
          enum: [transcript_ready]
          description: Event type for transcription completion.
        secret:
          type: string
          description: Webhook secret to validate authenticity.
        docId:
          type: string
          description: Transcription job ID.
        transcription:
          type: string
          description: >
            The transcript text. The JSON shape of this payload is identical regardless of
            recording type, but the content of this field differs:
            for `type: phone_call`, the text is diarized with inline `Խոսնակ 1:` / `Խոսնակ 2:`
            speaker labels; for `type: single_voice`, the text is plain with no labels.
        metadata:
          type: object
          description: Metadata passed during creation.
          example:
            phonenumber: "+37400000000"
            agent: "King Ruzi"
        title:
          type: string
          description: Short title automatically generated from the transcript.
        resolution:
          type: string
          description: A concise summary or resolution for the call.
        link:
          type: string
          format: uri
          description: Direct URL to the recording details inside Xosum.am.

    AnalysisResultEntry:
      type: object
      description: >
        One checklist question result entry. The shape depends on checklist question type:
        - yes_no: answer is "yes" | "no" | "cannot_tell"
        - grade_1_10: answer is a number (typically 1-10)
      properties:
        answer:
          oneOf:
            - type: string
            - type: number
          description: The answer value for the checklist question.
        comment:
          type: string
          description: Brief justification (often includes quotes/reasoning).
        question:
          type: string
          nullable: true
          description: The human-readable question text (enriched by the backend when available).

    WebhookAnalysisPayload:
      type: object
      properties:
        event_type:
          type: string
          enum: [analysis_ready]
          description: Event type for checklist analysis completion.
        secret:
          type: string
          description: Webhook secret to validate authenticity.
        docId:
          type: string
          description: Transcription/recording job ID.
        analysisId:
          type: string
          description: Analysis document ID.
        metadata:
          type: object
          description: Metadata passed during creation.
        checklistId:
          type: string
          nullable: true
          description: Checklist ID used for this analysis (if present).
        checklistName:
          type: string
          nullable: true
          description: Checklist name snapshot captured at analysis time (if present).
        results:
          type: object
          description: >
            Map keyed by checklist question ID, where each value contains the analysis result.
          additionalProperties:
            $ref: '#/components/schemas/AnalysisResultEntry'
        link:
          type: string
          format: uri
          description: Direct URL to the recording details inside Xosum.am.

security:
  - BearerAuth: []

paths:
  /api/createTranscription:  # This corresponds to the root of the cloud function URL
    post:
      summary: Create a new transcription job
      operationId: createTranscription
      tags:
        - Transcription
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTranscriptionRequest'
      responses:
        '200':
          description: Successfully created transcription job and received an upload URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTranscriptionResponse'
        '400':
          description: Invalid request payload.
        '401':
          description: Unauthorized – missing or invalid API key.
        '403':
          description: Forbidden – The provided `checklistId` is invalid or does not belong to the authenticated user.
        '500':
          description: Server error.

  /api/getTranscription:
    get:
      summary: Poll the status and result of a transcription job
      description: >
        Returns the current status and (once complete) the transcript for a `docId` returned
        by `POST /api/createTranscription`. Use this as an alternative to webhook delivery
        when hosting a public webhook receiver isn't an option (for example, when the
        consumer is behind Cloudflare with IP-whitelisting requirements that the Xosum
        Cloud Functions infrastructure can't satisfy).


        **Recommended polling cadence:** every 5–10 seconds per in-flight job. Most
        `single_voice` jobs finish within seconds; `phone_call` jobs may take a few minutes.


        **Rate limit:** 60 requests per minute per API key, fixed wall-clock-minute window.
        A `429` response includes a `Retry-After` header (seconds) indicating when the next
        window opens — sleep at least that long before retrying.
      operationId: getTranscription
      tags:
        - Transcription
      security:
        - BearerAuth: []
      parameters:
        - name: docId
          in: query
          required: true
          schema:
            type: string
          description: The document ID returned by `POST /api/createTranscription`.
      responses:
        '200':
          description: Current status and (once complete) the transcript.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTranscriptionResponse'
        '400':
          description: Bad request — missing `docId` query parameter.
        '401':
          description: Unauthorized — missing or invalid API key.
        '404':
          description: >
            Recording not found. Also returned when the `docId` exists but belongs to a
            different user — this is intentional, to avoid leaking cross-tenant existence.
        '405':
          description: Method not allowed. Use `GET`.
        '429':
          description: Rate limit exceeded. The response includes a `Retry-After` header.
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds until the next rate-limit window opens.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Server error.

  /your-webhook-url:
    post:
      summary: Webhook callback for transcription results
      description: >
        Xosum.am will send a POST request to this URL once a transcription is complete.
        This endpoint **does not require** any Authorization header.
        Use the `secret` field to verify the source.

        Note: This is a callback URL provided by the user and is not part of the public Xosum.am API.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookTranscriptionPayload'
      responses:
        '200':
          description: Webhook received and acknowledged.
        '400':
          description: Bad request or invalid webhook secret.

  /your-analysis-webhook-url:
    post:
      summary: Webhook callback for checklist analysis results
      description: >
        Xosum.am will send a POST request to this URL once a checklist-based analysis is complete.
        This endpoint **does not require** any Authorization header.
        Use the `secret` field to verify the source.

        Note: This is a callback URL provided by the user and is not part of the public Xosum.am API.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookAnalysisPayload'
      responses:
        '200':
          description: Webhook received and acknowledged.
        '400':
          description: Bad request or invalid webhook secret.
