openapi: 3.0.3
info:
  title: Xosum.am API
  description: >
    The Xosum.am API enables business customers to upload audio for transcription and receive results via webhook.  
    All transcription results are also accessible via the web interface at [https://app.xosum.am](https://app.xosum.am).

    API access is exclusive to Business plan users. Authentication is handled via Bearer API keys.
  version: 1.0.0
servers:
  - url: https://app.xosum.am
    description: Production server

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key

  schemas:
    CreateTranscriptionRequest:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum: [single_voice, phone_call]
          description: The type of audio to be transcribed. Use `single_voice` for monologues, `phone_call` for conversations.
        metadata:
          type: object
          description: Optional metadata to attach to the transcription (e.g., user IDs, external info).
          example:
            phonenumber: "+37400000000"
            agent: "King Ruzi"

    CreateTranscriptionResponse:
      type: object
      properties:
        docId:
          type: string
          description: Unique ID for the created transcription job.
        uploadUrl:
          type: string
          format: uri
          description: Signed URL for uploading the `.mp3` audio file.

    WebhookTranscriptionPayload:
      type: object
      properties:
        secret:
          type: string
          description: Webhook secret to validate authenticity.
        docId:
          type: string
          description: Transcription job ID.
        transcription:
          type: string
          description: The full text result of the transcription.
        metadata:
          type: object
          description: Metadata passed during creation.
          example:
            phonenumber: "+37400000000"
            agent: "King Ruzi"

security:
  - BearerAuth: []

paths:
  /api/createTranscription:
    post:
      summary: Create a new transcription job
      tags:
        - Transcription
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTranscriptionRequest'
      responses:
        '200':
          description: Successfully created transcription job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTranscriptionResponse'
        '400':
          description: Invalid request payload
        '401':
          description: Unauthorized – missing or invalid API key
        '500':
          description: Server error

  /your-webhook-url:
    post:
      summary: Webhook callback for transcription results
      description: >
        Xosum.am will send a POST request to this URL once a transcription is complete.  
        This endpoint **does not require** any Authorization header.  
        Use the `secret` field to verify the source.

        Note: This is a callback URL provided by the user and is not part of the public Xosum.am API.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookTranscriptionPayload'
      responses:
        '200':
          description: Webhook received and acknowledged
        '400':
          description: Bad request or invalid webhook secret
