openapi: 3.0.3
info:
  title: Xosum.am Transcription API
  description: API to upload audio for transcription and receive results via webhook.
  version: 1.0.0

servers:
  - url: https://app.xosum.am

paths:
  /api/createTranscription:
    post:
      summary: Create a transcription request
      description: Generates a signed upload URL for an MP3 audio file. Once uploaded, transcription is performed and sent to your webhook.
      operationId: createTranscription
      tags:
        - Transcription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - type
              properties:
                type:
                  type: string
                  description: Type of transcription.
                  enum: [single_voice, phone_call]
                metadata:
                  type: object
                  description: Optional metadata to attach to the transcription.
      responses:
        '200':
          description: Upload URL and document ID successfully created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  docId:
                    type: string
                    example: XYZ123
                  uploadUrl:
                    type: string
                    format: uri
                    example: https://storage.googleapis.com/...
        '400':
          description: Bad request - missing or invalid parameters.
        '401':
          description: Unauthorized - invalid or missing API key.
        '405':
          description: Method not allowed - only POST is supported.
      security:
        - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key

