openapi: 3.0.3
info:
  title: Xosum.am API
  description: >
    API-ն թույլ է տալիս ստեղծել վերծանման առաջադրանքներ և ստանալ արդյունքներ ավտոմատ webhook ծանուցման միջոցով։
  version: 1.0.0
servers:
  - url: https://app.xosum.am
    description: Production server

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
  schemas:
    CreateTranscriptionRequest:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum: [single_voice, phone_call]
          description: Վերծանման տեսակը (մեկ ձայն կամ երկխոսություն)
        metadata:
          type: object
          description: Ցանկացած լրացուցիչ մետադատա (օրինակ՝ external ID, լեզու)
    CreateTranscriptionResponse:
      type: object
      properties:
        docId:
          type: string
          description: Ստեղծված ձայնագրության ID
        uploadUrl:
          type: string
          format: uri
          description: S3-compatible ստորագրված հղում ֆայլը վերբեռնելու համար
    WebhookTranscriptionPayload:
      type: object
      properties:
        secret:
          type: string
          description: Webhook գաղտնիք՝ հաստատման համար
        docId:
          type: string
          description: Վերծանված ձայնագրության ID
        transcription:
          type: string
          description: Վերծանված ամբողջական տեքստը
        metadata:
          type: object
          description: Օգտագործողի կողմից ուղարկված մետադատա

security:
  - BearerAuth: []

paths:
  /api/createTranscription:
    post:
      summary: Ստեղծել վերծանման խնդրանք
      tags:
        - Transcription
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTranscriptionRequest'
      responses:
        '200':
          description: Վերծանման խնդրանքը հաջողությամբ ստեղծվել է
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTranscriptionResponse'
        '400':
          description: Սխալ մուտքային տվյալներ
        '401':
          description: Վավերացման սխալ
        '500':
          description: Սերվերի սխալ

  /your-webhook-url:
    post:
      summary: Վերծանման արդյունքի ավտոմատ ուղարկում
      description: >
        Այս endpoint-ը պետք է տրամադրվի ձեր կողմից։ xosum.am-ը կուղարկի վերծանման արդյունքները
        հենց որ պատրաստ լինեն։
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookTranscriptionPayload'
      responses:
        '200':
          description: Հաջող ստացում
        '400':
          description: Սխալ տվյալներ կամ գաղտնիքի մերժում

