openapi: 3.0.3
info:
  title: Xosum.am API
  description: >
    The Xosum.am API allows business users to programmatically upload audio for transcription 
    and receive results automatically via secure webhooks. Authentication is handled via Bearer API keys.  
    API access is available only to Business plan users.
  version: 1.0.0
servers:
  - url: https://app.xosum.am
    description: Production server

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key

  schemas:
    CreateTranscriptionRequest:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum: [single_voice, phone_call]
          description: The type of audio to be transcribed. Use `single_voice` for monologues, `phone_call` for conversations.
        metadata:
          type: object
          additionalProperties: true
          description: Optional metadata to attach to the transcription (e.g. userId, externalRef).

    CreateTranscriptionResponse:
      type: object
      properties:
        docId:
          type: string
          description: The unique ID of the transcription record created.
        uploadUrl:
          type: string
          format: uri
          description: Signed URL to upload the audio file (must be MP3 format).

    WebhookTranscriptionPayload:
      type: object
      properties:
        secret:
          type: string
          description: The webhook secret used to validate authenticity of the call.
        docId:
          type: string
          description: The document ID of the transcription.
        transcription:
          type: string
          description: The full transcribed text.
        metadata:
          type: object
          additionalProperties: true
          description: The metadata originally submitted with the transcription request.

security:
  - BearerAuth: []

paths:
  /api/createTranscription:
    post:
      summary: Create a new transcription job
      tags:
        - Transcription
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTranscriptionRequest'
      responses:
        '200':
          description: Successfully created transcription job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTranscriptionResponse'
        '400':
          description: Invalid request payload
        '401':
          description: Unauthorized – missing or invalid API key
        '500':
          description: Server error

  /your-webhook-url:
    post:
      summary: Transcription result webhook
      description: >
        This endpoint should be hosted by your system. Xosum.am will make a POST request 
        to this URL when a transcription result is ready. The request will contain a webhook secret 
        and the transcription content.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookTranscriptionPayload'
      responses:
        '200':
          description: Webhook received successfully
        '400':
          description: Invalid data or failed secret verification
